:root {
    --primary-color: #994D00;
    --secondary-color: #325800;
    --accent1-color: #0090C9;
    --accent2-color: #003FAC;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
}

section {
    position: relative;
}

section h2 {
    text-align: center;
    width: 100%;
}

.img-box {
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
}

footer {
    display: grid;
    grid-template-columns: 70% 30%;
}

footer p {
    text-align: center;
}

figure img {
    max-width: 90%;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    top: 20%;
    width: 90%;
    padding: 7px;
    opacity: 0.8;
    text-align: center;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
  float: right;
  width: 125px;
}
