:root {
    --primary-color: #ffffff;
    --secondary-color: #3c482d;
    --accent1-color: #214443;
    --accent2-color: #003FAC;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
}

section {
    position: relative;
}

section h2 {
    text-align: center;
    width: 100%;
}

.img-box {
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
}

footer {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

footer p, footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    max-width: 90%;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color) !important;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.contact-section {
    border: 2px solid var(--secondary-color);
    border-radius: 7px;
    padding: 10px;
    margin: 0;
    margin-top: 15px;
}

.no-padding {
    padding: 0;
}


.contact-section h1 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.contact-section iframe {
    width: 100%;
    height: 450px;
    border-radius: 7px;
    border: none;
}

.employee-box {
    grid-template-columns: 33% 33% 34%;
    display: grid;
    text-align: center;
}
.employee-box img {
    height: 85%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    top: 20%;
    width: 90%;
    padding: 7px;
    opacity: 0.8;
    text-align: center;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
  float: right;
  width: 125px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column3 {
    grid-template-columns: 0.2fr 2fr;
}

form fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

textarea {
    max-width: 100%;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: .75rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 95%;
    text-align: center;
}

button:hover {
    background-color: darkgreen;
}
