:root {
  --lining-color: black;
  --background-theme: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: green;
  padding: 10px;
}

nav a {
  color: var(--background-theme);
  display: block;
  padding: 10px;
}

h1 {
  color: darkblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid var(--lining-color);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

body {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid var(--lining-color);
  padding: 1rem;
  background-color: var(--background-theme);
  color: #333;
  text-align: center;
  width: 20em;
  text-align: center;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--lining-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: relative;
  top: 20px;
  left: 0px;
  color: brown;
}

main {
  max-width: 90%
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
